/* Work sans font from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sora:wght@100..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* shared styles */
* {
    font-family: "Work Sans", sans-serif;
}

.section-title{
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;
}

.text-light-gray{
    color: #727272;
}

.btn-primary{
    color: #FFF;
    background: #FF900E;
    padding: 20px 25px;
    border-radius: 8px;
    border: 0;
    font-size: 1.25rem;
    /* font-weight: 700; */
    cursor: pointer;
    margin-bottom: 30px;
}

/* header styles */
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 30px 150px;
    /* padding: 30px 240px; */
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav > ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 40px;
    font-size: 1rem;
    font-weight: 500;
}
nav a{
    text-decoration: none;
    color: #424242;
}
/* banner styles */
.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
.banner-title{
    color: #131313;
    font-weight: 700;
    font-size: 4rem;
}

.banner img{
    width: 100%;
}

/* main styles */
main{
    /* max-width: 1440px; eita mile nai, tai nicher ta dilam*/
    max-width: 1050px;
    margin: 50px auto;
}

/* teams section styles */
.teams-container{
    display: flex;
    align-items: center;
}
.teams-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}
.teams-content{
    padding-left: 50px;
    padding-right: 50px;
}
.teams-title{
    font-size: 2.5rem;
}
.teams-title .quick-list{
    color: #727272;
    font-weight: 500;
}
.teams-title .teams-features{
    color: #FF900E;
    font-weight: 700;
}

/* features section styles */
.features{
    margin-top: 100px;
    display: flex;
    gap: 100px;
}
.features-content .section-title{
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}
.feature-img img{
    width: 500px;
    height: 90%;
    margin-left: 80px;
}
.features .card{
    background-color: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
}
.ten-years-badge{
    border-radius: 8px;
    background-color: #FF900E;
    color: #FFF;
    width: 270px;
    padding: 20px;
    text-align: center;
    position: relative;
    bottom: 100px;
}
.ten-years-badge h2{
    margin: 0;
    font-size: 50px;
}
.ten-years-badge p{
    font-size: 1.5rem;
}

/* facts section styles */
.facts-card-container{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}
.facts-card-container .card{
    border: 1px solid #FF900E;
    border-radius: 8px;
    text-align: center;
    padding: 30px;
}

.facts-card-container .card-states{
    font-size: 2.8rem;
    color: #424242;
    margin-top: 10px;
    margin-bottom: 10px;
}

.facts-card-container .card-title{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 5px;
}

/* sponsors section styles */
.sponsors{
    text-align: center;
}
.sponsors-img-container{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.sponsors-img-container img{
    width: 130px;
}

/* footer styles */
footer{
    background: rgba(255, 144, 14, 0.10);
    padding: 10px;
    text-align: center;
    margin: 150px;
}


/* responsive styles */

/* mobile devices */
@media screen and (max-width: 576px) {
    header{
        padding: 20px;
    }
    nav, .features, .facts-card-container, .sponsors-img-container{
        flex-direction: column;
    }
    .teams-container{
        flex-direction: column-reverse;
    }
    .teams-img-container{
        grid-template-columns: 1fr;
    }
    
    .feature-img img{
        width: 100%;
        margin-left: 0;
    }
    .ten-years-badge{
        max-width: 300px;
        position: static;
    }
    .facts-card-container{
        gap: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

/* medium devices */
@media screen and (min-width: 576px) and (max-width:960px) {
    header{
        padding: 40px;
    }
    nav, .features, .teams-container, .facts-card-container, .sponsors-img-container{
        flex-direction: column;
    }
    .facts-card-container{
        gap: 20px;
    }
}
